
h1 { color: red; } 
/*class selector */ /* for multiple elements*/ /* article-title { text-transform: float: underline;; } */
/* id selector*/ /* for single elemets on a page */ /* #space-cat { border: solid; border-width: 5px; border-color:black; } */

h2 {color: blue;}